<h1>2nd Floor</h1>
<div id ='map-boxes'>
    <canvas id='pos16' width='75%' height='75%'>Your browser does not support the HTML5 canvas tag.</canvas>
    <canvas id='pos17' width='75%' height='75%'>.</canvas>
    <canvas id='pos18' width='75%' height='75%'>.</canvas>
    <canvas id='pos19' width='75%' height='75%'>.</canvas>
    <div id='desk'>
    </div>
    <canvas id='pos20' width='75%' height='75%'>.</canvas>
    <canvas id='pos21' width='75%' height='75%'>.</canvas>
    <canvas id='pos22' width='75%' height='75%'>.</canvas>
    <canvas id='pos23' width='75%' height='75%'>.</canvas>
    </br>
    </br>
    </br>
    </br>
    <canvas id='pos24' width='75%' height='75%'>.</canvas>
    <canvas id='pos25' width='75%' height='75%'>.</canvas>
    <canvas id='pos26' width='75%' height='75%'>.</canvas>
    <canvas id='pos27' width='75%' height='75%'>.</canvas>
    <div id='desk'>
    </div>
    <canvas id='pos28' width='75%' height='75%'>.</canvas>
    <canvas id='pos29' width='75%' height='75%'>.</canvas>
    <canvas id='pos30' width='75%' height='75%'>.</canvas>
    <canvas id='pos31' width='75%' height='75%'>.</canvas>
</div>
<div id='landHidden'>This page is only available on mobile (Portrait Mode).</div>