<h1>1st Floor</h1>
<div id ='map-boxes'>
    <canvas id='pos0' width='75%' height='75%'>Your browser does not support the HTML5 canvas tag.</canvas>
    <canvas id='pos1' width='75%' height='75%'>.</canvas>
    <canvas id='pos2' width='75%' height='75%'>.</canvas>
    <canvas id='pos3' width='75%' height='75%'>.</canvas>
    <div id='desk'>
    </div>
    <canvas id='pos4' width='75%' height='75%'>.</canvas>
    <canvas id='pos5' width='75%' height='75%'>.</canvas>
    <canvas id='pos6' width='75%' height='75%'>.</canvas>
    <canvas id='pos7' width='75%' height='75%'>.</canvas>
    </br>
    </br>
    </br>
    </br>
    <div id='entrance'>
    <p>Entrance<p>
    </div>
    <canvas id='pos8' width='75%' height='75%'>.</canvas>
    <canvas id='pos9' width='75%' height='75%'>.</canvas>
    <canvas id='pos10' width='75%' height='75%'>.</canvas>
    <canvas id='pos11' width='75%' height='75%'>.</canvas>
    <div id='desk'>
    </div>
    <canvas id='pos12' width='75%' height='75%'>.</canvas>
    <canvas id='pos13' width='75%' height='75%'>.</canvas>
    <canvas id='pos14' width='75%' height='75%'>.</canvas>
    <canvas id='pos15' width='75%' height='75%'>.</canvas>
</div>
<div id='landHidden'>This page is only available on mobile (Portrait Mode).</div>