<h1>Home</h1>
<h3>Available Computers</h3>
<a id='homeLinks' href="index.php?page=floor_1">
<div id='h1floor'>
<h2>1st Floor:</h2>
<p><script>
document.write(firstFree)
divFirstFree(firstFree);
</script></p>
</div>
</a>
<a id='homeLinks' href="index.php?page=floor_2">
<div id='h2floor'>
<h2>2nd Floor:</h2>
<p><script>
document.write(secondFree);
divSecondFree(secondFree);
</script></p>
</div>
</a>
<a id='homeLinks' href="index.php?page=total">
<div id='totalFree'>
<h2>Total Free: </h2>
<p><script>document.write(totalFree)</script></p>
</div>
</a>
<div id='landHidden'>This page is only available on mobile (Portrait Mode).</div>